@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');
* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 992px) {
    .alto-100 {
        height: 100vh;
    }
}

.quote-img {
    position: absolute;
    top: 0;
    right: 20%;
    z-index: 1;
}

.dani-z-index {
    z-index: 2;
    position: relative;
}

.background-purple {
    background: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.background-gray {
    background: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.background-darkgray {
    background: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.background-white {
    background: hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.paragraph {
    font-weight: 300;
    line-height: 24px !important;
}

.verified {
    opacity: 50%;
    font-weight: 400;
}

.border-lightpurple {
    border-color: hsl(263, 58%, 66%) !important;
}

.border-purple {
    border-color: hsl(263, 55%, 52%) !important;
}

.box-shadows {
    box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.78);
}